[Unit]
Description=Jaeger tracing collector
After=network.target

[Service]
Type=simple
User=collector
Group=collector
Environment=SPAN_STORAGE_TYPE="elasticsearch"
ExecStart=/opt/collector/collector --config-file /etc/collector/collector.yml

[Install]
WantedBy=multi-user.target